<div class="col-md-12 col-sm-12 col-xs-12 getStartImage blurImage">
  <div class="col-md-offset-2 col-md-8  col-xs-8 col-sm-offset-1 col-sm-6 top-space getStartInfo ">
    <div class="text-left">Everyone need FOOD<br>For getting food</div><br>
    <div  >We need MONEY<br>For getting money</div><br>
    <div class="text-left">We need JOB<br>For getting job</div><br>
    <div >
      We should have TALENT and<br>
      <a ui-sref="home"><button type="button" class="btn btn-warning">
        <i class="fa fa-circle-o" aria-hidden="true"></i>RESUME</button>
      </a>
    </div>
  </div>
</div>
