<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navBarFont" id="myNavbar" >
      <ul class="nav navbar-nav">
          <li><a href="#"><img class="logoImage" src="../Images/logo.jpg"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="home.verticalNav">Resume Templates</a></li>
        <li><a ui-sref="home">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="col-md-12 col-sm-12 col-xs-12 containerPadding" ui-view="formatsPresent"></div></div>
