<div class="col-sm-3 col-md-3 col-xs-12 affix-sidebar containerPadding top-spacing containerHeight">
  <div class="sidebar-nav" >
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header ">
          <button type="button" class="navbar-toggle text-right toggle-index" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand" >Sidebar menu</span>
        </div>
      <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav" style="height:100%">
            <li>
              <a ui-sref="home.verticalNav.default">
                <h3 class="visible-sm visible-xs text-center">Template-1</h3>
                <div class="card cardleft hidden-sm hidden-xs">
                  <h4 class="card-title text-center">Template-1</h4>
                    <img src="../Images/resume1.jpg" width = 100%; height : 100% alt="Card image">
                </div>
              </a>
            </li><br>
            <li>
              <a ui-sref="home.verticalNav.format2">
                <h3 class="visible-sm visible-xs text-center">Template-2</h3>
                <div class="card cardleft hidden-sm hidden-xs ">
                  <h4 class="card-title text-center">Template-2</h4>
                    <img  src="../Images/resume2.jpg" width = 100%; height : 100% alt="Card image">
                </div>
              </a>
            </li><br>
            <li>
              <a ui-sref="home.verticalNav.format3">
                <h3 class="visible-sm visible-xs text-center">Template-3</h3>
                <div class="card cardleft hidden-sm hidden-xs">
                  <h4 class="card-title text-center">Template-3</h4>
                    <img  src="../Images/resume3.jpg" width = 100%; height : 100% alt="Card image">
                </div>
              </a>
            </li>
          </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class=" col-md-offset-3 col-sm-offset-3 col-md-9 col-xs-12 col-sm-9 top-buffer" ng-controller="resumeDisplay" ui-view='bodyPart'></div>
