<div ng-controller="signUpCtrl">
	<h1 style="text-align:center">SignUp</h1>
	<input type="text" ng-model="userName"><br>
	<input type="text" ng-model="mobileNo"><br>
	<input type="password" ng-model="myPassword"><br>
	<input type="password" ng-model="conformMyPassword"><br>
	<button ng-click="createUser()">createUser</button>
</div>


<div ng-controller="loginCtrl">
	<h1 style="text-align:center">Login</h1>
	<input type="text" ng-model="mobileNo"><br>
	<input type="password" ng-model="myPassword"><br>
	<button ng-click="myLogin()">Login</button>
</div>