
<div class="col-md-12 col-xs-12 col-sm-12 ">
  <initialformat2></initialformat2>
</div>

<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <career-objformat2></career-objformat2>
</div>

<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <academicsformat2></academicsformat2>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <technicalskillsformat2></technicalskillsformat2>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <achievementsformat2></achievementsformat2>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <personaldetailsformat2></personaldetailsformat2>
</div>
