<div class="col-md-12 col-xs-12 col-sm-12 ">
  <initial></initial>
</div>

<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <career-obj></career-obj>
</div>

<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <academics></academics>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <technicalskills></technicalskills>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <achievements></achievements>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <personaldetails></personaldetails>
</div>
