<div class="col-md-12 col-xs-12 col-sm-12 ">
  <initialformat3></initialformat3>
</div>

<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <career-objformat3></career-objformat3>
</div>

<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <academicsformat3></academicsformat3>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <technicalskillsformat3></technicalskillsformat3>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <achievementsformat3></achievementsformat3>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 top-buffer">
  <personaldetailsformat3></personaldetailsformat3>
</div>
